.shadowBoxContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;

    img {
        max-width: 64%;
        max-height: 92%;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
    }
}