.contactPageContainer {
    width: 100%;
    padding: 0;
    padding-bottom: 2%;
    .skeletonContact {
        z-index: 500;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #E0E0E0;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .contactImageContainer {
        width: 100%;
        padding: 0;
        

        img {
            width: 100%;
            min-height: 20vh;
            object-fit: cover;
        }
    }

    .contactTitleContainer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-top: 100px;
        @media (min-width: 768px) {
            margin-top: -100px;
        }
        h1 {
            text-align: center;
        }
    }

    .contactFormContainer {
        label {
            margin-top: 8px;
        }
        .displayMessage {
            color: rgb(236, 99, 19);
        }
    }
}