.container {
    .footerNav {
        display: flex;
        justify-content: center;

        a {
            margin: 0 8px;
            text-decoration: none;
            color: black;
            font-size: 110%;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: rgb(236, 99, 19);
            }
        }
    }

    p {
        font-size: 80%;
        opacity: .8;
        text-align: center;
    }
}