.imagePortfolioContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    .portfolioImageContainer {
        width: 100%;
        padding: 1%;
        margin-bottom: 4%;
        cursor: zoom-in;
        transition: 0.4s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
        img {
            width: 100%;
        }
    }
}