.homeLoadingContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0E0E0;
    svg {
        width: 40vw;
        height: 40vh;
        fill: #DEA217;
        animation: logoAnim 2.5s infinite;
    }
}

@keyframes logoAnim {
    0% {fill: #DEA217;}
    50% {fill: #FBDFA0;}
    100% {fill: #DEA217};
}