.container {
    .contactPageContainer {
        width: 100%;
        padding: 0;
        padding-bottom: 2%;

        .contactImageContainer {
            width: 100%;
            padding: 0;
            min-height: 40vh;
            position: relative;

        }

        .contactTitleContainer {
            display: flex;
            justify-content: center;

            h1 {
                text-align: center;
            }
        }

        .contactFormContainer {
            label {
                margin-top: 8px;
            }

            .displayMessage {
                color: rgb(236, 99, 19);
            }
        }
    }
}