.container {
    height: 100vh;
    width: 100vw;

    .homepageContainer {
        width: 100%;
        height: 100%;

        .homeFoodContainer,
        .homeBeverageContainer,
        .homeProductContainer,
        .homeVideoContainer {
            width: 100vw;
            height: 100%;
            padding-top: 120px;
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            transition: opacity 0.6s ease-in-out;
            display: flex;
            opacity: 0;

            .homeImageContainer {
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
            }

            .homeTextInfo {
                margin: 120px 4vw;
                color: white;
                display: flex;
                flex-direction: column;
                width: 80vw;
                z-index: 15;

                @media (min-width: 768px) {
                    width: 40vw;
                }

                h1 {
                    font-size: 360%;
                    text-transform: uppercase;
                }

                h2 {
                    font-size: 132%;
                }

                .viewPortfolioButton {
                    text-decoration: none;
                    color: white;
                    margin-top: 20px;
                    width: max-content;
                    padding: 0 0.4%;
                    font-size: 120%;
                    border-bottom: 1px solid white;
                    z-index: 25;
                    transition: border-bottom 0.2s ease-in-out;

                    &:hover {
                        border-bottom: 1px solid transparent;
                    }
                }
            }
        }

        .active {
            opacity: 1;
        }

        .mainArrowContainer {
            z-index: 50;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 4%;

            .arrowContainer {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .lineContainer {
                    width: 1px;
                    height: 44px;
                    position: relative;
                    margin-bottom: 100px;

                    .line {
                        position: absolute;
                        width: 2px;
                        height: 0px;
                        background-color: white;
                        top: 0;
                        bottom: initial;
                        animation: line-animation 2.5s ease-in-out 0s infinite normal;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        &::before {
                            content: '';
                            width: 16px;
                            height: 16px;
                            border-right: 3px solid white;
                            border-bottom: 3px solid white;
                            transform: rotate(45deg);
                            display: block;
                            position: absolute;
                            bottom: 0;
                            animation: arrow-animation 2.5s ease-in-out 0s infinite normal;
                        }
                    }


                }
            }
        }
    }
}

@keyframes line-animation {
    0% {
        height: 0px;
        top: 0px;
        opacity: 0;
    }

    50% {
        height: 44px;
        top: 0px;
        opacity: 1;
    }

    100% {
        height: 0px;
        top: 44px;
        opacity: 0;
    }
}

@keyframes arrow-animation {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}