.homepageContainer {
    // padding-top: 120px;
    height: 100vh;
    width: 100%;
    // overflow: hidden;

    .homeFoodContainer,
    .homeBeverageContainer,
    .homeProductContainer,
    .homeVideoContainer {
        width: 100vw;
        height: 100%;
        padding-top: 120px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        transition: opacity 0.4s ease-in-out;
    }


    .homeFoodContainer {
        opacity: 0;
        background-image: url('../../assets//heroImages/frenchtoast_main.jpg');
    }

    .homeBeverageContainer {
        opacity: 0;
        background-image: url('../../assets//heroImages/floatingbeer_main.jpg');
    }

    .homeProductContainer {
        opacity: 0;
        background-image: url('../../assets/heroImages/elianabowl_main.jpg');
    }

    .homeVideoContainer {
        opacity: 0;
        background-image: url('../../assets/heroImages/beersplash_main.jpg');
    }

    .active {
        opacity: 1;
    }
}
